@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h1 class="display-4">Veterinaria</h1>
    
    <a href="Citas">

        <button>Registrar una cita</button>
        
    </a>

    <a href="Mascotas">

        <button>Registrar la mascota</button>

    </a>

    <a href="Usuarios">

        <button>Registrar al cliente</button>

    </a>
    
</div>
