@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h1 class="display-4">Veterinaria</h1>
    
    <a href="Citas" style="display: block;">

        <button style="margin-bottom: 20px;">Registrar una cita</button>
        
    </a>

    <a href="Mascotas" style="display: block;">

        <button style="margin-bottom: 20px;">Registrar la mascota</button>

    </a>

    <a href="Usuarios" style="display: block;">

        <button style="margin-bottom: 20px;">Registrar al cliente</button>

    </a>

    <img src="https://cdn.pixabay.com/photo/2021/01/16/11/13/dogs-5921796_1280.png" />
    
    
</div>




